y_knot_id,title,o_knot_ref,created_date,status,decision
Y-KNOT-{{CHAPTER}}-{{SECTION}}-001-001,"{{CHAPTER_TITLE}} Resolution Approach",O-KNOT-{{CHAPTER}}-{{SECTION}}-001,{{CREATED_DATE}},JUSTIFIED,OPT-001
